*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#81c78470;
color:#000001;
font-family:Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
font-family:Times New Roman, serif;
font-style:italic;
}

/* NAVBAR */

.logo{
  height:50px;
  margin-right:20px;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#2e7d32;
padding:15px 40px;
color:white;
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-right:20px;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:bold;
}

/* HERO */

h2{
  margin-bottom:20px;
}

.hero{
height:90vh;
  background:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("more/frontpagebg.jpg");

background-size: cover;
background-position: center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero-text{
background:rgb(0 0 0 / 78%);
padding:40px;
  padding-bottom: 40px;
border-radius:10px;
  margin-bottom:50px;
  margin-right:100px;
  margin-left:100px;
}

.quote-btn{
margin-top:15px;
padding:12px 25px;
border:none;
background:#4CAF50;
font-size:16px;
cursor:pointer;
  transition: all 0.3s ease;
}

.quote-btn:hover{
  transform: translateY(-5);
  box-shadow:0px 8px 15px rgba(0,0,0,0.3);
}

/* SERVICES */

h3{
  margin-bottom:20px;
}

.service-card{
display:block;
text-decoration:none;
color:inherit;
}

.section-title{
background: #2e7d32;
padding:20px 20px;
text-align:center;
height:70px;
}

.service-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:30px;
}

.service-card img{
   width:89%;
  height:300px;
  object-fit:cover;
  margin-bottom:20px;

  border-radius:6px;
  box-shadow:0 2px 8px rgba(0,0,0.45);
  background:white;
}
.service-card{
  text-align:center;
  margin-bottom:40px;
}

/* GALLERY */

.gallery{
padding:20px 30px;
text-align:center;
background:#2e7d32;
}

/* carousel container */

.carousel-wrapper{
position:relative;
overflow:hidden;
margin-top:20px;
}

/* horizontal scrolling row */

.gallery-grid{
display:flex;
gap:15px;
overflow-x:auto;
scroll-behavior:smooth;
padding:10px;
}

.gallery-grid::-webkit-scrollbar{
display:none;
}

/* gallery cards */

.gallery-item{
min-width:280px;
position:relative;
border-radius:6px;
overflow:hidden;
}

.gallery-item img{
width:100%;
height:300px;
object-fit:cover;
border-radius:6px;
box-shadow:0 2px 8px rgba(0,0,0,0.45);
}

/* hover overlay */

.gallery-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.65);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
opacity:0;
transition:0.3s;
padding:20px;
}

.gallery-item:hover .gallery-overlay{
opacity:1;
}

/* arrows */

.carousel-btn{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.6);
color:white;
border:none;
font-size:30px;
cursor:pointer;
padding:10px 15px;
z-index:10;
}

.carousel-btn.left{
left:0;
}

.carousel-btn.right{
right:0;
}
/* CTA */

.cta{
padding:60px;
text-align:center;
background:#81c7844f;
color:#000001;
}

.cta-btn{
margin-top:15px;
padding:12px 25px;
border:none;
background:#4CAF50;
font-size:16px;
cursor:pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover{
  transform: translateY(-5);
  box-shadow:0px 8px 15px rgba(0,0,0,0.3);
}

/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#1b5e20;
color:white;

}

@media (max-width:768px){

  .hero-text{
    width:90%;
    padding:25px;
  }

  .hero-text h1{
    font-size:32px;
  }

  .hero-text p{
    font-size:16px;
  }

  .hero-text button{
    font-size:18px;
    padding:14px 26px;
  }





























































